<a href="https://colab.research.google.com/github/RoelJohnGuzman/OOP-58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
week = ["Sunday","Monday","Tuesday","Wenesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wenesday
Thursday
Friday
Saturday

In [30]:
week = ["Sunday","Monday","Tuesday","Wenesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wenesday
Thursday

For loop

In [32]:
week = ["Sunday","Monday","Tuesday","Wenesday","Thursday","Friday","Saturday"]

for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

Break statement two outputs

In [63]:
#Do Tuesday and Wenesday only
week = ["Sunday","Monday","Tuesday","Wenesday","Thursday","Friday","Saturday"]

for x in week:
  if x == "Wenesday":
    print(x)
  if x == "Thursday":
    print(x)
    break

Wenesday
Thursday

Looping through string

In [65]:
for x in "bocchi the rock":
  print(x)

b
o
c
c
h
i

t
h
e

r
o
c
k

Nested Loop

In [68]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While loop

In [81]:
i = 1
while i <6:
  print(i)
  i+=1

1
2
3
4
5

The break statement

In [93]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

The L statment

In [96]:
i = 1 
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer 6")

1
2
3
4
5
i is no longer 6

In [99]:
i = 1 
while i<=10:
  print("Hello", i)
  i+=1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [111]:
i = 3
while i<=10:
  print(i)
  i+=1
  if i == 10:
    break

3
4
5
6
7
8
9